<h1>Welcome to Viewing Party</h1>

<p>Your favorite destination for watching movies with friends! Register or sign in to get started.</p>

<%= link_to "New to Viewing Party? Register Here", '/register' %>
