---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&page=1&query=blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/7GWDrjxeBsh5onaYf5XHjIM9BA1.jpg","genre_ids":[28,53],"id":578189,"original_language":"en","original_title":"Black
        and Blue","overview":"A fast-paced action thriller about a rookie cop who
        inadvertently captures the murder of a young drug dealer on her body cam.
        After realizing that the murder was committed by corrupt cops, she teams up
        with the one person from her community who is willing to help her as she tries
        to escape both the criminals out for revenge and the police who are desperate
        to destroy the incriminating footage.","popularity":64.793,"poster_path":"/1cSHEKYYP8Dpi4o1iBVd4U75FYt.jpg","release_date":"2019-10-25","title":"Black
        and Blue","video":false,"vote_average":6.7,"vote_count":413},{"adult":false,"backdrop_path":"/ajS8zeRQGjSyhbXH0d7zcV4oDCd.jpg","genre_ids":[80,18],"id":621191,"original_language":"en","original_title":"Blue
        Story","overview":"Blue Story is a tragic tale of a friendship between Timmy
        and Marco, two young boys from opposing postcodes. Timmy, a shy, smart, naive
        and timid young boy from Deptford, goes to school in Peckham where he strikes
        up a friendship with Marco, a charismatic, streetwise kid from the local area.
     [...]
[...]
