---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&page=1&query=blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/7GWDrjxeBsh5onaYf5XHjIM9BA1.jpg","genre_ids":[28,53],"id":578189,"original_language":"en","original_title":"Black
        and Blue","overview":"A fast-paced action thriller about a rookie cop who
        inadvertently captures the murder of a young drug dealer on her body cam.
        After realizing that the murder was committed by corrupt cops, she teams up
        with the one person from her community who is willing to help her as she tries
        to escape both the criminals out for revenge and the police who are desperate
        to destroy the incriminating footage.","popularity":74.388,"poster_path":"/1cSHEKYYP8Dpi4o1iBVd4U75FYt.jpg","release_date":"2019-10-25","title":"Black
        and Blue","video":false,"vote_average":6.7,"vote_count":412},{"adult":false,"backdrop_path":"/hIHtyIYgBqHybOgUdoAmveipuiO.jpg","genre_ids":[28,27,878],"id":703745,"original_language":"en","original_title":"Deep
        Blue Sea 3","overview":"Dr. Emma Collins and her team are spending their third
        summer on the island of Little Happy studying the effect of climate change
        on the great white sharks who come to the nearby nursery every year to give
        birth. Along with the last two inhabitants of this former fishing village,
        [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&page=2&query=blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/gwLG5V3u9WgMUodGaquvCuWM7FR.jpg","genre_ids":[18,12,10749,10770],"id":115290,"original_language":"en","original_title":"Blue
        Lagoon: The Awakening","overview":"Two high school students become stranded
        on a tropical island and must rely on each other for survival. They learn
        more about themselves and each other while falling in love.","popularity":18.407,"poster_path":"/ptsBY9Aqo4Mn0V1krI5s8WfFxzW.jpg","release_date":"2014-12-08","title":"Blue
        Lagoon: The Awakening","video":false,"vote_average":6.5,"vote_count":1018},{"adult":false,"backdrop_path":"/qVcL6rYhWxayMPBHx2OBnntzTbU.jpg","genre_ids":[80,18],[...]
